<a href="https://colab.research.google.com/github/adyskara/oop-python/blob/main/Guided_project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter 3: Data cleaning exercise

### Sales department performance analysis

The HR department wants to analyze the performance of the employees in the sales department.

### Data Reading
Rachel wrote a text file employee_revenue.txt including all necessary information, but she needs help to extract the necessary information.

Start by uploading the employee_revenue file to the working directory.

ðŸ“Œ Use the .read() method to open the text file in read mode and assign it to the variable "data".

In [2]:
#Open the file in read mode
file=open("/content/employee_revenue.txt","r")
data=file.read()

In [3]:
#Print the data
print(data)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

### Data Cleaning

You can see that the data needs to be cleaned and information has to be extracted from these lines. 

To be able to clean the data, you need to separate the text into lines.

ðŸ“Œ Use the .splitlines() method.

In [4]:
#Seperate the data into lines
lines=data.splitlines()
print(lines)

['  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ', 'omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.', '   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ', 'Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ', '     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.', 'Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ', 'Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ', 'Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. ', ' bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.', 'Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ', '  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.']

### Clean the data line by line

Start to clean the data for the first line.

ðŸ“Œ Use the .strip() method to remove the whitespaces from the edges of the string.

In [5]:
#Take the first line
string=lines[0]
print(string)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.

In [6]:
#Remove the whitespaces from the edges
string=string.strip()
print(string)

Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.

Next, you need to fix the capitalization issues.

ðŸ“Œ Use the .lower() method to convert the text to lowercase.

ðŸ“Œ Then use the .capitalize() method to capitalize the first letter.

In [7]:
#Convert the string to lowercase
string=string.lower()
print(string)

ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.

In [8]:
#Capitalize the first character
string=string.capitalize()
print(string)

Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.

### Information Extraction

To extract the information, you need to split the sentence into words. 

ðŸ“Œ Use the .split() method.

In [9]:
#Split the sentece into words
split_string=string.split(" ")
print(split_string)

['Ben', 'made', '300', 'calls', 'and', 'generated', '2400', 'dollars', 'last', 'month', 'with', 'an', '8$', 'average', 'deal', 'size.']

You might noticed that the first element in the list is the name and the third element is the number of calls.

ðŸ“Œ Use the indeces to extract the name and number of calls.

In [10]:
#Use the index 0 to access the name element
name=split_string[0]
print(name)

Ben

In [11]:
#Use the index 2 to access the number of calls element
number_of_calls=split_string[2]
print(number_of_calls)

300

So far so good!

But as you can see the sentence order is not the same after the 7th element.

To extract the average deal size you need to come up with a different approach. You can use the "$" sign to find the corresponding element.

ðŸ“Œ Loop over the list to find the element that includes the "$" sign.

ðŸ“Œ Then, use the .split() method to divide the string into the number and the $ sign.

In [12]:
#Find the element with the "$" sign
for i in split_string:
  #Divide the number from it
  if "$" in i:
    avarage_deal_size=i.split("$")[0]
#Print the average deal size
    print(avarage_deal_size)

8

Similarly, we can use the string "dollars" to extract the revenue, which is the element right before "dollars".

ðŸ“Œ Use the .index() method to identify the index for the "dollars" element.

ðŸ“Œ Then, use this index to specify and extract the revenue.

In [13]:
#Find the index of element "dollars"
dollars_index=split_string.index("dollars")
print(dollars_index)

7

In [14]:
#Subtract one from the index to identify the index of the revenue element
revenue_index=dollars_index-1
revenue_index

6

In [15]:
#Extract the revenue
revenue=split_string[revenue_index]
revenue

'2400'

Great! You extracted all necessary information.

ðŸ“Œ Print the information and check the types of the data.

In [16]:
#Print out the extracted information
print("name:",name)
print("number_of_calls:",number_of_calls)
print("avarage_deal_size:",avarage_deal_size)
print("revenue:",revenue)

name: Ben
number_of_calls: 300
avarage_deal_size: 8
revenue: 2400

In [17]:
#Check the types
print("name types:",type(name))
print("number_of_calls types:",type(number_of_calls))
print("avarage_deal_size types:",type(avarage_deal_size))
print("revenue types:",type(revenue))

name types: <class 'str'>
number_of_calls types: <class 'str'>
avarage_deal_size types: <class 'str'>
revenue types: <class 'str'>

As you can see, we have the type string for all the data, but the average deal size, number of calls, and the revenue need to be integers. 

ðŸ“Œ Convert the data using the int() function and check again.

In [18]:
#Convert the datatypes of average deal size, number of calls, and revenue
avarage_deal_size=int(avarage_deal_size)
number_of_calls=int(number_of_calls)
revenue=int(revenue)

In [19]:
#Print out the information again
print("name types:",type(name))
print("number_of_calls types:",type(number_of_calls))
print("avarage_deal_size types:",type(avarage_deal_size))
print("revenue types:",type(revenue))

name types: <class 'str'>
number_of_calls types: <class 'int'>
avarage_deal_size types: <class 'int'>
revenue types: <class 'int'>

Now, you need to apply all the methods and functions to the list that contains the different strings of all employees.

ðŸ“Œ Create an empty lists for storing names, number of calls, average deal sizes, and revenues.

ðŸ“Œ Use a for loop to iterate through the list with the whole data.

ðŸ“Œ Print out the necessary information.

In [20]:
#Create empty lists for the names, number of calls, average deal sizes, revenues
names_list=[]
number_of_calls_list=[]
avarage_deal_size_list=[]
revenue_list=[]

In [21]:
#Loop over the whole data
for employee in lines:
    #Clean the string
    employee=employee.strip(" ")
    employee=employee.lower()
    employee=employee.capitalize()
    #Split the clean string
    split_employee=employee.split(" ")
    
    #Extract the name
    name=split_employee[0]
    number_of_calls=split_employee[2]
    #Extract the average deal size
    for i in split_employee:
      if "$" in i:
        avarage_deal_size=i
    avarage_deal_size=avarage_deal_size.split("$")[0]  

    #Extract the revenue
    dollars_index=split_employee.index("dollars")
    revenue_index=dollars_index-1
    revenue=split_employee[revenue_index]
    #Convert to the correct data types
    number_of_calls=int(number_of_calls)
    avarage_deal_size=int(avarage_deal_size)
    revenue=int(revenue)
   #print("name types:",type(name))
   #print("number_of_calls types:",type(number_of_calls))
   #print("avarage_deal_size types:",type(avarage_deal_size))
   #print("revenue types:",type(revenue))

    #Append the information to the lists
    names_list.append(name)
    number_of_calls_list.append(number_of_calls)
    avarage_deal_size_list.append(avarage_deal_size)
    revenue_list.append(revenue)

#Print out the information
print(names_list)
print(number_of_calls_list)
print(avarage_deal_size_list)
print(revenue_list)

['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
[300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
[8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
[2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

Finally, you can make the process even easier and reusable by defining functions.

ðŸ“Œ Define the function "clean_extract".

ðŸ“Œ Use the retured values by assigning them to variables.

In [22]:
#Create empty lists again
names_list=[]
number_of_calls_list=[]
avarage_deal_size_list=[]
revenue_list=[]

In [23]:
from tokenize import Name
#Define a function to clean and extract the data
def clean_extract(lines):
  for employee in lines:
    employee=employee.strip(" ")
    employee=employee.lower()
    employee=employee.capitalize()

    split_employee=employee.split(" ")
    name=split_employee[0]
    number_of_calls=split_employee[2]

    for i in split_employee:
      if "$" in i:
        avarage_deal_size=i
        avarage_deal_size=avarage_deal_size.split("$")[0]

    dollars_index=split_employee.index("dollars")
    revenue_index=dollars_index-1
    revenue=split_employee[revenue_index]

    avarage_deal_size=int(avarage_deal_size)
    number_of_calls=int(number_of_calls)
    revenue=int(revenue)

    names_list.append(name)
    number_of_calls_list.append(number_of_calls)
    avarage_deal_size_list.append(avarage_deal_size)
    revenue_list.append(revenue)
  return names_list,number_of_calls_list,avarage_deal_size_list,revenue_list

In [24]:
#Assign returned values to variables
names,number_of_calls,avarage_deal_size,revenue=clean_extract(lines)

In [26]:
#Print out the information
print(names_list)
print(number_of_calls_list)
print(avarage_deal_size_list)
print(revenue_list)

['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
[300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
[8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
[2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

### Performance Analysis Report

Now that you cleaned the string and extracted all the information using the function, you can create performance analysis report for the last month.

ðŸ“Œ Assign IDs to each employee.

ðŸ“Œ Create dictionaries.

ðŸ“Œ Sort the dictionaries.

First, check how many employees there are and assign the IDs.

ðŸ“Œ Use the len() and range() function.

In [27]:
#Check the number of employees
uzunluk=len(names)
print(uzunluk)

11

In [28]:
#Generate IDs
IDs=list(range(0,11))
print(IDs)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
#Check the number of IDs
len(IDs)

11

With the IDs ready, you need to assign the IDs to the employees.

ðŸ“Œ Use the zip() function to pair the employee with the ID.

ðŸ“Œ Convert the zip object into a dictionary.

In [30]:
#Pair the names with the IDs in a dictionary
dict1=dict(zip(IDs,names))
print(dict1)

{0: 'Ben', 1: 'Omer', 2: 'Karen', 3: 'Celine', 4: 'Sue', 5: 'Bora', 6: 'Rose', 7: 'Ellen', 8: 'Bob', 9: 'Taylor,', 10: 'Jude'}

Similarly, create a dictionary for the  employees and their revenues.

In [31]:
#Pair the names with the revenues
dict2=dict(zip(revenue, names))
print(dict2)

{2400: 'Ben', 60: 'Omer', 12000: 'Karen', 2275: 'Celine', 500: 'Jude', 770: 'Bora', 4000: 'Rose', 6000: 'Ellen', 800: 'Bob', 1200: 'Taylor,'}

Finally, you need to find the employees with the best and lowest performance.

ðŸ“Œ Sort the dictionary using the sorted() function in ascending and descending order.

In [32]:
#Find the lowest performing employees (ascending order)
sorted_dict=sorted(dict2)[0:3]
for i in sorted_dict:
  print(dict2[i])

Omer
Jude
Bora

In [33]:
#Find the best performing employees (descending order)
sorted_dict=sorted(dict2,reverse=True)[0:3]
for i in sorted_dict:
  print(dict2[i])

Karen
Ellen
Rose